<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<div>
  <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
  <%= link_to "Back to restaurants", restaurants_path %>

  <%= button_to "Destroy this restaurant", @restaurant, method: :delete %>
</div>


<p><strong>Add new review</strong></p>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<p><strong>Reviews</strong></p>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> - Rating: <%= review.rating %></li>
    <% end %>
</ul>
